.Sidebar {
    flex: 0.25;
    display: flex;
    flex-direction: column;
}
.SidebarHeader {
    display: flex;
  align-items: center; /* Center vertically */
  padding: 10px; /* Add padding as needed */
    padding: 20px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.SidebarHeader .avatar {
    margin-right: 10px; /* Add spacing between the avatar and the user name */
  }
  
  .SidebarHeader h1 {
    flex: 1; /* Allow the user name to expand and take available space */
    font-size: 18px; /* Adjust the font size as needed */
    text-align: center; /* Center the text horizontally within its container */
  }
.SidebarSearch{
    display: flex;
    align-items: center;
    height: 10%;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.SidebarSearchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    margin-left: 18px;
    margin-right: 18px;
}
.SidebarSearchContainer > input{
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 100%;
}
.SidebarChats {
    flex: 1;
    background-color: white;
    overflow: scroll;
    border-right: 1px solid lightgray;

}
